<div class="content2" style="background-color:rgb(183, 209, 203)">

  <div class="content1" align="right"  > 
    <h1 style="color:red">Score </h1>
    <h1 style="color:black">{{score1}}</h1>
  </div>
  <div class="content1" align="right"  >
    <button mat-raised-button (click)="startorstop()">
      <h1 style="color:black">{{buttonstate}}</h1>
    </button>
  </div>
  <div class="content1" align="right"  >
      <h1 style="color:yellow">user high score : {{userscore}}</h1>
  </div>
 
</div>




<div class="split left">
  <div class="centered">
    <table>
      <tr>
        <th>
          <div class="content" >
            <mat-card class="mat-elevation-z4">
              <mat-card-actions>
                <button mat-button (click)="click1()">
                  <img mat-card-image src="assets/images/{{image1}}.jpg" />
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </th>
        <th>
          <div class="content" >
            <mat-card class="mat-elevation-z4">
              <mat-card-actions>
                <button mat-button (click)="click2()">
                  <img mat-card-image src="assets/images/{{image2}}.jpg" />
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </th>
        <th>
        <div class="content" >
          <mat-card class="mat-elevation-z4">
            <mat-card-actions>
              <button mat-button (click)="click3()">
                <img mat-card-image src="assets/images/{{image3}}.jpg" />
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="content" >
            <mat-card class="mat-elevation-z4">
              <mat-card-actions>
                <button mat-button (click)="click4()">
                  <img mat-card-image src="assets/images/{{image4}}.jpg" />
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </td>
        <td>
          <div class="content" >
            <mat-card class="mat-elevation-z4">
              <mat-card-actions>
                <button mat-button (click)="click5()">
                  <img mat-card-image src="assets/images/{{image5}}.jpg" />
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </td>
        <td>
        <div class="content" >
          <mat-card class="mat-elevation-z4">
            <mat-card-actions>
              <button mat-button (click)="click6()">
                <img mat-card-image src="assets/images/{{image6}}.jpg" />
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        </td>
      </tr>
  
      <tr>
        <td>
          <div class="content" >
            <mat-card class="mat-elevation-z4">
              <mat-card-actions>
                <button mat-button (click)="click7()">
                  <img mat-card-image src="assets/images/{{image7}}.jpg" />
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </td>
        <td>
          <div class="content" >
          <mat-card class="mat-elevation-z4">
            <mat-card-actions>
              <button mat-button (click)="click8()">
                <img mat-card-image src="assets/images/{{image8}}.jpg" />
              </button>
            </mat-card-actions>
          </mat-card>
          </div>
        </td>
        <td>
        <div class="content" >
          <mat-card class="mat-elevation-z4">
            <mat-card-actions>
              <button mat-button (click)="click9()">
                <img mat-card-image src="assets/images/{{image9}}.jpg" />
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        </td>
      </tr>
    </table>


  </div>
</div>



<router-outlet></router-outlet>

